-#section1{
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    
}
h1{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 40px;
}
#titreExplicative{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    padding-left: 50px;
}
#titreExplicative p{
    font-size: 20px;
}
#section2{
       height: fit-content;
}
section{
    color: rgb(0, 0, 0);;
}

.titreRubrique{
    color: rgb(0, 0, 0);
    margin-top: 70px;
    font-size: 35px;
    margin-bottom: 50px;
}
article{
    color: rgb(0, 0, 0);
}
#section2 article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#section2 article p{
    height: 350px;
    width: 650px;
    font-size: 17px;
    text-align: justify;
}

hr{
    border: none;
    margin-top: 70px;
    width: 95%;
    height: 1px;
    background: rgb(0, 0, 0);
}
.rubrique{
    margin: 0px 100px 0px 100px;
    
}
#competences #conteneur-box-competences{
    
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
#competences img{
    max-width: 75px;
    max-height: 75px;
}
.box-competence{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-competence p{
    font-size: 20px;
}
/*------------projets,formations,experiences-------------*/
.conteneur-box{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
}

.box{
    border-radius: 15px;
    width: 300px;
    height: 300px;    
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
.imagebox{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titrebox{
    margin: 0;
    position: absolute;
    color: #ffffff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: none;
    z-index: 1;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.box:hover .titrebox, .box-centre-interet:hover .titrebox-centre-interet{
    display: block;
}

.overlay{
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.box:hover .overlay,.box-centre-interet:hover .overlay{
    background-color: rgba(0, 0, 0, 0.7);
}

.hrefbox{
    z-index: 2;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*-------------centre d'interêt-------------*/
.titrebox-centre-interet{
    margin: 0;
    position: absolute;
    color: #ffffff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: none;
    z-index: 1;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.box-centre-interet{
    border-radius: 25px;
    width: 250px;
    height: 250px;    
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
.imagebox-centre-interet{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.conteneur-box-centre-interet{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    
}
.buttonNav{
    display: none;
}

@media screen and (max-width: 1130px){
    #conteneurSection2{
        margin: 50px 50px 50px 50px;
    }
    #section2 article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section2 article p{
        height: 350px;
        width: 100%;
        font-size: 30px;
        text-align: justify;
    }
   
    .conteneur-box{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }
    .box{
        width: 200px;
        height: 200px;
    }
    .rubrique{
        margin: 0px ;
        
    }
    .titreRubrique{
        text-align: center;
    }
    .conteneur-box-centre-interet{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
    }
    .box-centre-interet{
        border-radius: 15px;
        width: 130px;
        height: 130px;    
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }
    #competences #conteneur-box-competences{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    #competences{
        margin-top: 70vh;
    }
    .box-competence p{
        font-size: 15px;
    }
}
@media screen and (max-width: 320px){
    #conteneurSection2{
        margin: 50px 50px 50px 50px;
    }
    #section2 article{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }
    #section2 article p {
        /* height: 350px; */
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }
    #section2{
        height: 100vh;
    }

    @media screen and (max-width: 768px) {
    #section1 {
        height: auto;
        background-attachment: scroll; /* Supprime l'effet fixed pour de meilleures performances mobiles */
    }
    h1 {
        font-size: 28px; /* Taille du texte réduite */
    }
    #titreExplicative {
        flex-direction: column;
        padding-left: 20px;
        width: 90%;
        height: auto;
        margin-top: 20px;
    }
    #titreExplicative p {
        font-size: 16px;
    }
    h3{
        font-size: auto;
    }
    .conteneur-box {
        grid-template-columns: 1fr; /* Une seule colonne pour un affichage vertical */
        justify-items: center;
    }
    .box {
        width: 90%;
        height: auto;
    }
    .imagebox {
        height: auto;
        object-fit: contain; /* Pour que les images restent proportionnelles */
    }
    .titreRubrique {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .conteneur-box-centre-interet {
        grid-template-columns: 1fr;
    }
    .box-centre-interet {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }
    #competences #conteneur-box-competences {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les icônes de compétences */
    }
    .box-competence p {
        font-size: 12px;
    }
    #section2 article p {
        font-size: 14px;
        margin: 10px 0;
    }
    hr {
        margin-top: 30px;
    }
    .rubrique {
        margin: 0 20px;
    }
}

}
