html{
    background-color: #E2BFD5 !important;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #E2BFD5;
    font-family:Verdana, Geneva, sans-serif !important;
    height: 100%;
    width: 100%;
}
.fondFlou{
    transition: 0.5s;
    position: fixed;
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    font-size: 22px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2)!important;
}
#titreHeader{
    margin: 0;
    color: rgb(0, 0, 0);
}
.textNav{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    text-shadow:1px 1px 2px rgba(0, 0, 0, 1);
}

.textNav:hover{
    color: rgb(0, 0, 0);
    text-decoration: overline;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    padding-right: 15px;
}
section{
    width: 100%;
}
footer{
    font-family: Verdana, Geneva, sans-serif !important;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 17px;
    padding-bottom: 40px !important;
    padding-top: 40px;
    
}
header h2{
    font-size: 100%;
    font-weight: 400;
}
#ConteneurPageEnConstruction{
    width: 100%;
    height: 100%;
}
#titrePageEnConstruction{
    text-align: center;
    padding-top: 50vh;
    color: rgb(0, 0, 0);
}
#buttonNav{
    display: none;
}
#toggleMenu {
    display: none;
}
.buttonNav{
    display: none;
}

.titreRubrique{
    color :#000000;
    padding: 20px;
    transition: 0.5s;
}
.titreRubrique:hover{
    background-color: #ffffff;
    padding: 30px;
    transition: 0.4s;
}
@media screen and (max-width: 1130px){
    #buttonNav{
        display: inline-block;
        padding: 5px 8px;
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid rgb(112, 112, 112);
        border-radius:7px;
        cursor: pointer;
    }
    #buttonnav:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 2px;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: fit-content;
    }
   
/* Masquer la case à cocher */
#toggleMenu {
    display: none;
}

/* Cacher le menu par défaut */
#menu {
    display: none;
    
}

/* Afficher le menu lorsque la case à cocher est cochée */
#toggleMenu:checked + #buttonNav + #menu {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

}

